{% extends 'base.html' %}
{% load static %}

{% block title %}
    BarberBook Barber Details Page
{% endblock %}

{% block content %}
    <h1>Barber Details Page</h1>
    {% if object.barber_picture %}
        <img src="{{ object.barber_picture.url }}" class="profile-picture" alt="profile_picture">
    {% else %}
        <img src="{% static 'images/barber-default-profile-picture.jpg' %}" alt="barber_default_profile_picture" class="profile-picture">
    {% endif %}
    <ul>
        <li>Name: {{ object.name }}</li>
        <li>About: {{ object.about }}</li>
        <li>Barbershop: {{ object.barbershop.name }}</li>
    </ul>

    {% if object.barbershop.pk == request.user.pk %}
        <a href="{% url 'edit-barber' pk=object.pk %}" class="link-button">Edit Barber</a>
        <a href="{% url 'delete-barber' pk=object.pk %}" class="link-button">Delete Barber</a>
    {% endif %}
{% endblock %}