{% extends 'base.html' %}
{% load static %}

{% block title %}
    BarberBook Edit Barber Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="form-container">
                <h1>Edit Barber</h1>
                <form action="{% url 'edit-barber' pk=object.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button>Edit Barber</button>
                        <button type="button"><a href="{% url 'barber-details' pk=object.pk %}">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}