{% extends 'base.html' %}

{% block title %}
    BarberBook Profile Page
{% endblock %}

{% block content %}
    <h1>Profile Page</h1>

    <h3>For Clients</h3>
    <p>Client Details</p>
    <a href="{% url 'edit-client' %}" class="link-button">Edit Client Info</a>
    <a href="{% url 'delete-client' %}" class="link-button">Delete Client Account</a>



    <h3>For Barbershops</h3>
    <p>Barbershop Details</p>
    <a href="{% url 'edit-barbershop' %}" class="link-button">Edit Barbershop Info</a>
    <a href="" class="link-button">Manage Barbers</a>
    <a href="{% url 'delete-barbershop' %}" class="link-button">Delete Barbershop Account</a>


{% endblock %}