@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

:root {
	--button-brown: #370511;
}

/* -----Resets----- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
	margin: 0;
}

ul[role='list'], ol[role='list'] {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

/* -----Styling----- */

body {
	font-family: Poppins, sans-serif;
	line-height: 1.5;
    height: 100%
}
main {
    padding: 2rem 10rem;
    min-height: 70vh;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 0.5rem 3rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
header a {
    color: white;
}

.home-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    font-family: Rye, sans-serif
}
.home-logo img {
    width: 60px;

}

.search-field {
    position: relative;
    width: 30%;
}

.search-field span {
    position: absolute;
    top: 6px;
    left: 12px;
    color: black;
    z-index: 1;
}
.search-field input {
    padding: 0.5rem 2.25rem;
    width: 100%;
    border-radius: 16px;
    border: none;
    font-size: 1rem;
}

footer {
    width: 100%;
    /*position: fixed;*/
    /*bottom: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
    color: white;
    padding: 0.5rem 1rem;
}

footer a {
    color: white;
}
.main-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-section {
    text-align: center;
    font-size: 0.7rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.link-button {
    background: black;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
}
button {
    font-size: 1rem;
    background: black;
    color: white;
    padding: 4px 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.profile-picture {
    height: 100px;
    border: 2px solid black;
}
.profile-picture-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    gap: 8px;
}

.barbershop-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.closed-sign {
    height: 30px;
    transform: rotate(10deg);
}

.logout-wrapper {
    float: right;
}

#map {
    width: 400px;
    height: 300px;
    border: 3px solid black;
}

.barbershop-photo-thumbnail {
    height: 200px;
    border: 6px solid black;
}
.barbershop-photo-full{
    height: 600px;
    border: 6px solid black;
}

h1, h2, h3 {
    font-family: Rye, sans-serif;
    padding: 0.5rem 0.5rem;
}

.select-date-form {
    display: flex;
    flex-direction: row;
}

.reservation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserved-stamp {
    height: 100px;
    transform: rotate(20deg);
}

.reservation-list-table {
    width: 100%;
    text-align: center;
    border: 3px solid black;
    border-radius: 6px;

    margin-bottom: 1rem;
}

.reservation-list-table thead {
    background: lightgray;
}


.reservation-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    text-align: center;
}
.pagination .current {
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1px 6px;
    margin: 0 4px;
}