{% extends 'base.html' %}
{% load static %}

{% block title %}
    BarberBook Photo Details Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-container">
            <h1>Photo Details</h1>
            <a href="{% url 'barbershop-details' slug=request.user.barbershopprofile.slug %}" class="link-button">Back to Profile</a>
            {% if object.barbershop.pk == request.user.pk %}
                <a href="{% url 'delete-picture' slug=object.barbershop.slug pk=object.pk %}" class="link-button">Delete Picture</a>
            {% endif %}
            <br><br>
            <img src="{{ object.image.url }}" alt="picture" class="barbershop-photo-full">


        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}