{% extends 'base.html' %}

{% block title %}
    BarberBook Service Details Page
{% endblock %}

{% block content %}
    <h1>Service Details Page</h1>
    <ul>
        <li>Service: {{ object.service_name }}</li>
        <li>Price: {{ object.price }}</li>
    </ul>

    {% if object.barbershop.pk == request.user.pk %}
        <a href="{% url 'edit-service' slug=object.barbershop.slug pk=object.pk %}" class="link-button">Edit Service</a>
        <a href="{% url 'delete-service' slug=object.barbershop.slug pk=object.pk %}" class="link-button">Delete Service</a>
    {% endif %}
{% endblock %}