<div class="main-footer-container">
    <div class="home-logo-footer">
        <a href="{% url 'home-page' %}">BarberBook</a>
    </div>
    <nav class="footer-nav-links">
        <ul role="list">
            <li class="nav-item"><a href="">About</a></li>
            <li class="nav-item"><a href="https://github.com/bopzen/SoftUni_Python_Web_Project_Defense_BarberBook" target=”_blank”>GitHub Project Repo</a></li>
            <li class="nav-item social-media">
                <a href="https://github.com/bopzen" target=”_blank”><i class="fab fa-github"></i></a>
                <a href="https://facebook.com/boyantodorov" target=”_blank”><i class="fab fa-facebook"></i></a>
                <a href="https://linkedin.com/in/boyantodorov" target=”_blank”><i class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </nav>
</div>

<div class="footer">
    <p class="footer-section">© 2023 BOPZEN <a href="https://softuni.bg/">SoftUni</a> Python Web Project Defense <a href="{% url 'home-page' %}">barberbook.bg</a></p>
</div>