<div class="main-footer-container">
    <div class="home-logo">
        <a href="{% url 'home-page' %}">BarberBook</a>
    </div>
    <nav class="footer-nav-links">
        <ul role="list">
            <li class="nav-item"><a href="{% url 'register-page' %}">About</a></li>
            <li class="nav-item"><a href="{% url 'login-page' %}">Contacts</a></li>
            <li class="nav-item"><a href="{% url 'logout-page' %}">Social</a></li>
        </ul>
    </nav>
</div>

<div class="footer">
    <p class="footer-section">© 2023 BOPZEN <a href="https://softuni.bg/">SoftUni</a> Python Web Project Defense <a href="{% url 'home-page' %}">barberbook.bg</a></p>
</div>