{% load custom_filters %}
{% load static %}

<div class="home-logo">

    <a href="{% url 'home-page' %}">
        <img src="{% static 'images/barbershop-pole.jpg' %}" alt="barbershop-pole">
        <span>BarberBook</span>
        <img src="{% static 'images/barbershop-pole.jpg' %}" alt="barbershop-pole">
    </a>
</div>
<div class="search-field">
    <span><i class="fas fa-search"></i></span>
    <input type="text" id="search-input" placeholder="Search for barbershop or city ...">
    <div id="search-results"></div>
</div>
<nav class="header-nav-links">
    <ul role="list">
        {% if not request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'register-page' %}">Register</a></li>
            <li class="nav-item"><a href="{% url 'login-page' %}">Login</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'logout-page' %}">Logout</a></li>
            {% if request.user|get_role == 'Client' %}
                <li class="nav-item nav-profile">
                    <a href="{% url 'client-details' %}">Hello, {{ request.user }}</a>
                    <a href="{% url 'client-details' %}">
                        {% if request.user.clientprofile.profile_picture %}
                            <img src="{{ request.user.clientprofile.profile_picture.url }}" alt="profile-picture-thumbnail" class="profile-picture-thumbnail">
                        {% else %}
                            <img src="{% static 'images/client-default-profile-picture.jpg' %}" alt="default_profile_picture" class="profile-picture-thumbnail">
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item nav-profile">
                    <a href="{% url 'barbershop-details' slug=request.user.barbershopprofile.slug %}">Hello, {{ request.user }}</a>
                    <a href="{% url 'barbershop-details' slug=request.user.barbershopprofile.slug %}">
                        {% if request.user.barbershopprofile.barbershop_picture %}
                            <img src="{{ request.user.barbershopprofile.barbershop_picture.url }}" alt="barbershop-profile-picture-thumbnail" class="profile-picture-thumbnail">
                        {% else %}
                            <img src="{% static 'images/barbershop-default-profile-picture.jpg' %}" alt="barbershop-default_profile_picture" class="profile-picture-thumbnail">
                        {% endif %}
                    </a>
                </li>
            {% endif %}



        {% endif %}
    </ul>
</nav>


<script>
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    searchInput.addEventListener('input', () => {
        const query = searchInput.value;
        if (query.length >= 2) {
            fetch(`/search/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';
                    data.forEach(result => {
                        const resultItem = document.createElement('div');

                        // Create an anchor element for each search result
                        const link = document.createElement('a');
                        link.href = `/barbershop/${result.slug}/profile/`; // Set the URL dynamically
                        link.textContent = `${result.name} - ${result.city}, ${result.address}`;
                        resultItem.appendChild(link);

                        searchResults.appendChild(resultItem);
                    });
                })
                .catch(error => console.error('Error fetching search results:', error));
        } else {
            searchResults.innerHTML = '';
        }
    });
</script>

